<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        
<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
    <Authorizing>
        <p>Authorizing...</p>
    </Authorizing>
    <NotAuthorized>
        <p>You don't have permission to see the content </p>
    </NotAuthorized>
</AuthorizeRouteView>

        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <PageTitle>Error 404 - Not Found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Please try contact the system's admin.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>
